.vs/FreeRDP/v15/Browse.VC.db
.vs/FreeRDP/v15/Solution.VC.db-shm
.vs/FreeRDP/v15/Browse.VC.db
.vs/FreeRDP/v15/Solution.VC.db-wal
.vs/FreeRDP/v15/Browse.VC.db
.vs/FreeRDP/v15/Browse.VC.db
.vs/FreeRDP/v15/.suo
.vs/FreeRDP/v15/Browse.VC.db
.vs/FreeRDP/v15/ipch/AutoPCH/WINPR-45924a56/REGISTRY_REG-9175f2e8/REGISTRY_REG.ipch
.vs/FreeRDP/v15/Solution.VC.db
client/Windows/wfreerdp-client.dir/Debug/vc141.pdb
client/Windows/wfreerdp-client.dir/Debug/wfreerdp-client.log
client/Windows/wfreerdp-client.dir/Debug/wfreerdp-client.tlog/CL.command.1.tlog
Debug/winpr2.dll
Debug/winpr2.ilk
Debug/winpr2.pdb
winpr/libwinpr/winpr.dir/Debug/registry_reg.obj
winpr/libwinpr/winpr.dir/Debug/vc141.pdb
winpr/libwinpr/winpr.dir/Debug/winpr.tlog/CL.command.1.tlog
winpr/libwinpr/winpr.dir/Debug/winpr.tlog/CL.read.1.tlog
winpr/libwinpr/winpr.dir/Debug/winpr.tlog/CL.write.1.tlog
winpr/libwinpr/winpr.dir/Debug/winpr.tlog/link.read.1.tlog
winpr/libwinpr/winpr.dir/Debug/winpr.tlog/winpr.write.1u.tlog
winpr/winpr.dir/Debug/winpr.log
Debug
